* {
  box-sizing: border-box;
  font-family: 'Recursive', sans-serif;
}

:root {
  --primary: #ffffff;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #ffffff;
  --frontEnd: #ffffff;
  --backEnd: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}

.PageNotFound{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PageNotFound h1{
  color: tomato;
  font-size: 30px;
  padding-top: 3%;
}

.Cartoon{
  padding-top: 5%;
}
